argh==0.26.2
atomicwrites==1.1.5
attrs==18.1.0
colorama==0.4.1
configparser==3.7.3
coverage==4.5.3
dk-tasklib==0.3.0
dkfileutils==1.4.2
funcsigs==1.0.2
future==0.17.1
invoke==1.0.0
Jinja2==2.10
MarkupSafe==1.0
more-itertools<=5.0.0
pathlib2==2.3.3
pathtools==0.1.2
pluggy==0.9.0
py==1.5.3
pytest==4.3.1
pytest-cov==2.6.1
PyYAML==3.13
scandir==1.10.0
six==1.12.0
watchdog==0.8.3
