{% for port in ports %}
<VirtualHost *:{{ port }}>

    ServerName {{ fqdns }}
    {%- if port == 443 and site.https_dns_alias %}
    {%- for alias in site.https_dns_alias.split('\n') %}
    {%- if alias %}
    ServerAlias {{ alias }}
    {%- endif %}
    {%- endfor %}
    {% else %}
    {%- if site.dns_alias is defined  %}
    {%- for alias in site.dns_alias.split('\n') %}
    {%- if alias %}
    ServerAlias {{ alias }}
    {%- endif %}
    {%- endfor %}
    {%- endif %}
    {% if server.admin %}ServerAdmin {{ server.admin }}{% endif %}
    {% endif %}

    # these will be availablee from request.META
    SetEnv DK_SITE_NAME {{ site.sitename }}
    SetEnv DK_SITE_DNS {{ fqdns }}
    SetEnv DK_SITE_ROOT {{ site_root }}
    SetEnv DK_SRV_ROOT ${SRV}
    SetEnv DKSTATICROOT ${SRV}/data/static
    {% if django == 'yes' -%}
    SetEnv DK_VIRTUAL_ENV {{ site.virtual_env }}
    {% endif %}

    DocumentRoot {{ docroot }}

    <Directory "{{ docroot }}">
        Options {{ docroot_opts.options|default('Indexes FollowSymLinks MultiViews') }}
        AllowOverride {{ docroot_opts.allow_override|default('None') }}
        {% if not docroot_opts.hide_order is defined -%}
        Order {{ docroot_opts.order|default('allow,deny') }}
        {%- endif %}
        {%- if not docroot_opts.hide_allow is defined %}
        Allow {{ docroot_opts.allow|default('from all') }}
        {%- endif %}
        {%- if docroot_opts.require is defined -%}
        Require {{ docroot_opts.require }}
        {% endif %}
    </Directory>
##:41

    ErrorLog /var/log/apache2/{{ site.sitename }}-error.log
    CustomLog /var/log/apache2/{{ site.sitename }}-access.log combined
    ServerSignature Off

    <Location /server-status>
        SetHandler server-status
        Order allow,deny
        Allow from ${AllowFromISP}
        Allow from 127.0.0.1
    </Location>

    {% if port == 80 and redirect_to_https -%}
    RewriteEngine On
    RewriteRule /(.*) https://
        {%- if site.www_prefix == 'require' -%}
            www.{{ dns }}/$1
        {%- else -%}
            %{SERVER_NAME}/$1
        {% endif %}
    {% else %}

    SetOutputFilter DEFLATE
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/x-javascript text/css application/javascript image/svg+xml
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|pdf|swf)$ no-gzip dont-vary
    Header append Vary User-Agent env=!dont-vary
    AddType image/svg+xml svg svgz
    AddEncoding gzip svgz
##:70
    {% if port == 443 -%}
    # SSL Certificates
    SSLEngine on
    SSLCertificateFile {{ ssl.certpath }}/{{ ssl.cert_file }}
    SSLCertificateKeyFile {{ ssl.certpath }}/{{ ssl.key_file }}
    SSLCertificateChainFile {{ ssl.certpath }}/{{ ssl.chain_file }}
    {#
    <IfDefine DKSTAGING>
        SSLCertificateFile ${LETSENCRYPT}/${SERVERNAME}/${SERVERNAME}.cer
        SSLCertificateKeyFile ${LETSENCRYPT}/${SERVERNAME}/${SERVERNAME}.key
        SSLCertificateChainFile ${LETSENCRYPT}/${SERVERNAME}/ca.cer
    </IfDefine>
    <IfDefine !DKSTAGING>
        SSLCertificateFile {{ ssl_sertificate }}/epost_datakortet_no.crt
        SSLCertificateKeyFile {{ ssl_sertificate }}/epost_datakortet_no.key
        SSLCertificateChainFile {{ ssl_sertificate }}/DigiCertCA.crt
    </IfDefine>
    #}
    SetEnvIf User-Agent ".*MSIE.*" ssl-unclean-shutdown

    # IE >= 9, Android >= 2.2, Java >= 6
    # SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
    # The real world is ugly..
    SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:ECDHE-RSA-AES128-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA128:DHE-RSA-AES128-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-GCM-SHA128:ECDHE-RSA-AES128-SHA384:ECDHE-RSA-AES128-SHA128:ECDHE-RSA-AES128-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES128-SHA128:DHE-RSA-AES128-SHA128:DHE-RSA-AES128-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA384:AES128-GCM-SHA128:AES128-SHA128:AES128-SHA128:AES128-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
    SSLProtocol all -SSLv2 -SSLv3
    SSLHonorCipherOrder On
    {% if redirect_to_https -%} {# not using ; includeSubDomains https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security#Preloading_Strict_Transport_Security #}
    Header always set Strict-Transport-Security "max-age=63072000; preload"
    {% endif -%}
    {% if not site.hide_frame_options is defined or site.hide_frame_options == True -%}
    Header always set X-Frame-Options {{ site.frame_options|default('SAMEORIGIN') }}
    {% endif -%}
    Header always set X-Content-Type-Options nosniff

##:100
    # Requires Apache >= 2.4 
    #SSLCompression off
    #SSLSessionTickets Off 
    #SSLUseStapling on 
    #SSLStaplingCache "shmcb:logs/stapling-cache(150000)"

    # Due to CRIME and BREACH it is not safe to use compression over https,
    # howvever, turning it off generally has major performance repercussions..
    # SetEnv no-gzip 1

    # BREACH migitation (turn off gzip only for foreign requests)
    SetEnvIfNoCase Referer .* self_referer=no
    SetEnvIfNoCase Referer ^https://{{ fqdns|replace(".", "\\.") }}/ self_referer=yes
    SetEnvIf self_referer ^no$ no-gzip
    Header append Vary User-Agent env=!dont-vary

    {% else %} {# if port != 443 #}
    {% endif %}  {# if port == 443 #}

    {% if "hide_public_cache_control" not in site %}
    <FilesMatch "\.(ico|flv|jpg|jpeg|png|svg|svgz|gif|woff2)$">
        Header set Cache-Control "public"
    </FilesMatch>
    {% endif %}

    {% if "cors" in site %}
    Header set Access-Control-Allow-Origin "{{ site.cors }}"
    {% endif %}

    ExpiresActive On
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType application/pdf "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType text/css "access plus 1 year"
    {% if site.hide_etag is defined %}
    Header unset ETag
    FileETag None
    {% else %}
    FileETag MTime Size
    {% endif %}    

    <IfModule mod_rewrite.c>
        RewriteEngine On
        {% if site.www_prefix == 'require' %}
        RewriteCond %{HTTP_HOST} !^www\. [NC]
        RewriteRule ^(.*)$ http{% if port == 443 %}s{% endif %}://{{ fqdns }}/ [L,R=301]
        {%- endif %}

        {% if site.www_prefix == 'omit' %}
        RewriteCond %{HTTP_HOST} ^www\. [NC]
        RewriteRule ^(.*)$ http{% if port == 443 %}s{% endif %}://{{ site.dns }}/ [L,R=301]
        {%- endif %}
        {% if site.block_request_methods -%}
        RewriteCond %{REQUEST_METHOD} ^({{ site.block_request_methods }})
        RewriteRule .* - [F]
        {%- endif %}
    </IfModule>

    {% if django == 'yes' %}

    {#
        From mod_wsgi v. 3.0+ certain configuation directives can be specified
        on the WSGIScriptAlias directive directly, e.g. process & application 
        group, 

            WSGIScriptAlias / {{ site_root }}/wsgi.py \
                process-group={{ site.sitename }}     \
                application-group=%{GLOBAL}

    #}
    {% if use_https and port == 443 and wsgi.wsgipassauthorization == "on" %}
    WSGIPassAuthorization on
    {% endif %}
    {% if (use_https and port == 443) or (not use_https and port == 80) %}
    {# first, or only, instance #}
    WSGIDaemonProcess {{ site.sitename }} \
        display-name={{ site.sitename }} \
        {% if wsgi.processes -%}processes={{ wsgi.processes }}{{ " " }}{%- endif %}threads={{ wsgi.threads|default(50) }} \
        maximum-requests={{ wsgi.maximum_requests|default(10000) }} \
        umask=0002{{ " " }}
        {%- if server.apache_version == 22 -%} home={{ site_root }} {% endif %}\
        python-path=${SRV}/www:${SRV}/venv/{{ site.virtual_env }}/lib/python2.7/site-packages \
        python-eggs=${SRV}/.python-eggs
    
    WSGIScriptAlias / {{ site_root }}/wsgi.py  \
        process-group={{ site.sitename }}      \
        application-group=%{GLOBAL}
    {% endif %} {# site.https #}

    {% if (use_https and port == 80) %}
    WSGIProcessGroup {{ site.sitename }}
    WSGIScriptAlias / {{ site_root }}/wsgi.py
    {% endif %}
    
    {% endif %} {# django == 'yes' #}
##:204
    Alias /favicon.ico {{ site_root }}/docroot/favicon.ico
    Alias /robots.txt {{ site_root }}/docroot/robots.txt
    Alias /cookies.html {{ site_root }}/docroot/cookies.html
    Alias /privacy-policy.html {{ site_root }}/docroot/privacy-policy.html
    {% for gverify in site.google_verify -%}
    Alias /{{ gverify }} {{ site_root }}/docroot/{{ gverify }}
    {% endfor %}

    {% if django == 'yes' %}
    Alias /static/ {{ site_root }}/static/
    Alias /media/ {{ site_root }}/media/
    {% endif %}{# django == yes #}

    {% endif %}{# redirect_to_https #}
</VirtualHost>
{% endfor %}
